# https://docs.mongodb.com/manual/reference/connection-string/
MONGO_URI="mongodb://localhost:27017"
MONGO_MIN_POOL=10
MONGO_MAX_POOL=100
MONGO_MAX_CONN_IDLE=60
MONGO_DATABASE="urlShortener"
URL_COLLECTION="urls"
USER_COLLECTION="users"
JWT_SECRET="SECRET"
JWT_LIFE=6